body{
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
/*-------For header------*/
header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    text-align: center;
  }
header img{
    float: left;
    max-width: 150px; 
    display: block;
    margin: 0 auto;
  }
.links{
    float: right;
    margin: auto;
    height: 40px;
  }
.links a{
    margin: 3px;
    color: #28666e;
    text-decoration: none;
  }
 /*-------For welcome phrase--------*/   
 .wel{
    text-align: center;
 }
 h1 span{
    color: rgba(2, 2, 222, 0.50);;
 }
/*-------three boxes--------*/     
.mainBox{
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    align-items: center;
   
   }

article{
position: relative;
border-radius: 18px;
box-shadow: 0lvb;
background: rgba(84, 86, 88, 0.25);;
transform-origin: center;
transition: all 0.4s ease-in-out;
overflow: hidden;

}

.box-body{
    width: auto;
    height: 200px;
    padding: 20px;
    margin: 10px;
    font-family: 'Georgia', serif;
    text-align: center;

}

/*------- box #4--------*/ 
.box4-main{
    display: grid;
    max-width: 800px;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    gap: 24px;
    align-items: center;
    padding: 2.5%;
}
#box4{
    background: rgba(2, 2, 222, 0.22);
}
#box-body4{
    width: auto;
    height: auto;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
#box-body4 ul{
    list-style-type:none ;
    padding: 0;
    margin: 0;
} 
.ex {
    text-align: left ;
    padding: 0px 0px 0px 50px;
    margin: 0;
}
.lists{
    display: flex;
    justify-content: center;
}
/*-------jpg img--------*/ 
.center-img {
    text-align: center; 
  }
  
  #i2 {
    max-width: 50vh; 
    max-height: 50vh;
  }
/*-------footer--------*/ 
footer {
    overflow: hidden;
    background-color: rgba(2, 2, 222, 0.22);;
    padding: 20px 10px;
    text-align: center;
  }